*{
	margin: 0px;	
	padding	: 0px;	
}
body{
	/*background-image: url('images/navy_blue.png');*/
	background: #3c3c3c;
	/*background: -webkit-linear-gradient(top, rgb(107,107,107) 0%,#3c3c3c 100%);  Chrome10+,Safari5.1+ */
	background-repeat: x-repeat;
	overflow: scroll;
}

@font-face {
  font-family: 'kazuka_el';

  src: url('fonts/KOZGOPRO-EXTRALIGHT.OTF');
}

@font-face {
  font-family: 'kazuka_h';
  src: url('fonts/KOZGOPRO-HEAVY.OTF');

}
ul{
	list-style-type: none;
}
a{
	color: white;
}

input{
	padding: 10px;
}

.bold{ font-family: 'verdana';}

#content{
	line-height: 1.5;
	margin: 0 auto;
	width: 960px;
	height: 800px;
}

#banner{
	font-weight: normal;
	width: 960px;
	margin: 0 auto;
	
}

#bannerbanner{
	width: 960px;
	height: 160px;
	background-repeat: no-repeat;
	background-position: center 70px;
}
#bannerbanner img {
	text-align: center;
	margin-top: 50px;
	height: 100px;

}


#banner-img{
	height: 90px;
	text-align: left;
}



#menu-container{
	width: 600px;
	margin-left: auto;
	margin-right: auto;

}

	#menu-container ul{
	height: 40px;
	}

	#menu-container li{
		float: left;

			background: ;
		/*padding: 10px 40px;*/
			overflow: none;
		margin-right: 0px;
		-webkit-transition: color 0.5s;
		transition: color 0.5s;
		-webkit-transition:background 0.5s;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 42px;
		font-weight: bold;
		font-family: arial;
		color: #B4D163;

	}
	#menu-container li a{
	font-family: 'kazuka_H';
	font-size: 20;
	display: block;
	text-decoration: none;
	color: #B4D163;
	margin-top: 5px;
 	}
 	#menu-container li a:visited{
	color: #B4D163;
 	}
#menu-container li a:hover{
	cursor: pointer;
	color: #89B416;
	}

#container-name{
	color: white;
	font-family: 'kazuka_H';
	font-size: 25px;
	text-transform: uppercase;
	margin-top: 20px;
}

#container-left{
	/*background: rgba(0,0,0,0.4);*/
	color: white;
	font-family: 'kazuka_el';
	
	-web-box-sizing: box-sizing;
	margin-top: 8px;
	width: 460px;
	float: left;
	text-transform: uppercase;
}

#container-right{
	/*background: rgba(0,0,0,0.4);*/
	color: white;
	font-family: 'kazuka_el';
	
	-web-box-sizing: box-sizing;
	margin-top: 8px;
	width: 301px;
	float: left;
	text-transform: uppercase;
}

#container-bottom{
	/*background: rgba(0,0,0,0.4);*/
	color: white;
	font-family: 'kazuka_el';
	
	-web-box-sizing: box-sizing;
	margin-top: 30px;
	float: left;
	width: 780px;
}

#container-trailer, #container-image{
	/*background: rgba(0,0,0,0.4);*/
	color: white;
	font-family: 'kazuka_H';
	
	-web-box-sizing: box-sizing;
	margin-top: 30px;
	float: left;
	width: 780px;
}

#container-trailer p, #container-image p{
	font-family: 'kazuka_H';
	float: left;
	margin-top: 2px;
	margin-right: 5px;
	text-transform: uppercase;
}

#container-trailer h4, #container-image h4{
	font-family: 'kazuka_el';
	float: left;
	width: 70px;
}

#container-right-right{
	/*background: rgba(0,0,0,0.4);*/
	color: white;
	font-family: 'kazuka_el';
	-web-box-sizing: box-sizing;
	margin-top: 8px;
	width: 179px;
	height: 400px;
	float: right;
	text-transform: uppercase;
	background-image: url(images/onlyatm.png);
	background-repeat: no-repeat;
	background-position: center top;
}

#container-left h3 {
	font-family: 'kazuka_el';
	font-weight: normal;
	text-transform: uppercase;
	font-size: 15px;
}

#container-left h2 {
	font-family: 'kazuka_H';
	font-size: 25px;
	text-transform: uppercase;
	
}

#container-left h3 .bold{
	font-family: 'kazuka_H';
	text-transform: uppercase;
	font-size: 15px;
}



.image-slider{
	overflow:hidden;
	height: 260px;
	width: 2000px;
	box-shadow: 0px 0px 120px #1c1c1c;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.image-slider-img1{
	margin: 0 auto;
	margin: -236px 0 0 0px;
	width:2000px;
	background:url('images/assassins-creed--brotherhood-19.jpg') -480px 300px;
}

.fancybox-skin{
	height: 270px;
}



#search-field{
	width: 1900px;
	position: absolute;
	z-index: 1;
	
}

	#search-field input{ 
		width: 560px;
		height: 0px;
	}
#livesearch{
	text-align: center;
	z-index: 2;
	background: white;
	margin-top: 2px;
	width: 560px;

}
	#livesearch ul li{
		height: 40px;
		width: 560px;
		text-align: left;
		

	}
	#livesearch #thumb{
		height: 40px;
		width: 65px;
		float: left;
	}
	#livesearch #star{
		height: 20px;
		box-sizing: border-box;
		padding: -8px;
		margin-top: 9px;
		float: left;
	}
	#livesearch a{
		color: black;
		height: 40px;
		width: 560px;
		display: block;
	}
	#livesearch li:hover{
		background: rgba(103, 255, 0, 0.39);
	}
	#livesearch #game-name{
		font-size: 18px;
		font-family: kazuka_el;
		width: 431px;
		box-sizing: border-box;
		padding: 11px;
		float: left;
	}
	#livesearch #game-rating{
		float: right;
		font-size: 18px;
		font-family: kazuka_el;

		box-sizing: border-box;
		padding: 11px;
		padding-left:3px;

	}
	/*FLEXSLIDER*/
.slides{
	width: 960px;
	height: 260px;
	overflow: hidden;
}
#main{
	margin: 0 auto;
}
.flex-control-nav {
	background: url('images/navUnderBox.png') no-repeat center;
	height: 25px;
	bottom: 2px;
}

.flex-control-nav li{
	margin-top: 7px;
}
.flexslider{
	border: 0px solid red;
}
	/*FLEXSLIDER*/

#playlist-button{
	width: 301px;
	height: 51px;
	font-family:kazuka_H;
	font-size: 25px;
	border-radius: 3px;
	margin-top: 10px;
	color: white;
}

.notInPlaylist{
	box-shadow: inset 1px 9px 10px black;
	border: 1px solid #2C2C2C;
	background-color: 3c3c3c;
	padding-top: 12px;
	
}
.InPlaylist{
	border:none;
	box-shadow: 3px 5px 0px black;
	background-color: 89b416;
	position: relative;
	top: -7px;
	padding-top: 5px;
}

/*RATING MASKINEN*/

.rating-list{
	font-size: 0px;
	padding: 0px;
}
	.rating-list a{
		margin: 0px;
		padding:0px;
		position: relative;
		top: 24px;
		background:url('images/star1.png');
		background-size:20px;
		display: inline-block;
		height: 20px;
		width: 20px;
		
	}
	.rating-list a:hover{
		background:url('images/star2.png');
	}
	.rating-list a span{
		visibility: hidden;
	}


/*RATING MASKINEN*/

#container-image{
	/*background: rgba(0,0,0,0.4);*/
	color: white;
	font-family: 'kazuka_el';
	
	-web-box-sizing: box-sizing;
	margin-top: 30px;
	float: left;
	width: 780px;
}
	#container-image img, #container-trailer img{
		height: 80px;
		float: left;
		margin-right: 10px;
		box-shadow: 3px 3px 15px black;
	}

#average-rating{
	background: url('images/starBig2.png');
	height: 35px;
	width: 50px;
	text-align: center;
	float: left;
	padding-top: 18px;
	background-repeat: no-repeat;
}

#container-header{
	background: #1c1c1c;
	padding: 20px;
	padding-bottom: 0px;
	border-radius: 3px;

	margin: 0 auto;
}
	#container-header #buttons{
		width: 520;
		margin: 0 auto;
	}
	#container-header button{

		color: white;
		padding: 13px;
		background: #2c2c2c;
		border-radius: 3px;
		border: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
		
		width: 240px;
	}
	#container-header button:hover	{
		background: #313131;
		cursor: pointer;
	}

#container-header .active{
	background: #3a3a3a;	
}
#container-header .active:hover{
	background: #3a3a3a;	
}

#container li:hover{

	background: #3a3a3a;
}

#container li a{
	display: block;
}


#container #game-name{
	position: relative;
	font-size: 20px;
	top: -26px;
	left: 70px;
	width: 500px;
}
#container #game-rating{
	width: 200px;
	float: right;
	position: relative;
	top: 16px;
}
#container #game-rating #star{
	position: relative;
	top: 3px;
	height: 20px;
	margin-right: 3px;
}
#container{
	font-family: kazuka_el;
}

#review { color: white;}
#review li{
	margin: 10px;
	padding: 20px;	
	padding-bottom: 35px;	
	background: #2c2c2c;
}
#review li:hover{background: #2c2c2c;}
#review span{
	float: right;
	margin-top:10px;
}
#review #review-by{ margin-right:10px;}
#review #review-game-name{
	color: #89b416;
	font-size: 18px;
	margin-bottom: 10px;
	float: none;
	text-align: left;
}
#review #review-date{color: #b4d163;}
#review-text{margin-top: 12px;}




#news { color: white;}
#news li{
	margin: 10px;
	padding: 20px;	
	padding-bottom: 35px;	
	background: #2c2c2c;
}
#news li:hover{background: #2c2c2c;}
#news span{
	float: right;
	margin-top:10px;
}
#news #news-date{color: #b4d163;}
#news-text{margin-top: 12px;}

#top10{
	margin-top: 60px;
}
